* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', sans-serif;
}

header {
    padding: 2vh;
    background-color: #7b98db;
    height: 16vh;
}

header h1, header h2 {
    color: #e6edff;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    padding: 3vh;
}

#otan {
    background-color: #e6edff;
    display: block;
    overflow: auto;
    padding: 0 0 40px 0;
}

img {
    display: block;
    width: 50vw;
    margin: 0 auto 5vh auto;
    transition: 0.5s;
}

img:hover {
    transform: scale(1.23);
}

#linha {
    position: fixed;
    left: 5vw;
    top: 0;
    width: 12px;
    height: 100%;
    background-color: #7b98db;
}

.fit_content {
    position: relative;
}

.bolinhaAzul {
    position: absolute;
    top: 5vh;
    left: 8vw;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #7b98db;
}

.bolinhaVerde {
    position: absolute;
    top: 5vh;
    left: 8vw;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #83db7b;
}

.bolinhaAmarela {
    position: absolute;
    top: 5vh;
    left: 8vw;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #dbd57b;
}

p {
    font-family: inherit;
    margin: 0.7em 15vw;
    text-align: justify;
    text-justify: inter-word;
    font-size: 14px;
    text-indent: 30px;
}

.lastp {
    margin: 0.7em 15vw 2em 15vw;
}

#opep {
    display: none;
    background-color: #e9ffe6;
    display: block;
    overflow: auto;
    padding: 0 0 40px 0;
}

.setad {
    position: absolute;
    top: 22.5vh;
    right: 420px;
    height: 20px;
    width: 20px;
}

.setae:hover{
    transform: scale(1.3, 1.3);
}

.setae {
    transform: scaleX(-1);
    position: absolute;
    top: 22.5vh;
    left: 420px;
    height: 20px;
    width: 20px;
}

.setae:hover{
    transform: scale(-1.3, 1.3);
}

#ocde {
    display: none;
    background-color: #ffffe6;
    display: block;
    overflow: auto;
    padding: 0 0 40px 0;
}

ul {
    margin: 0.7em 20vw;
    text-align: justify;
    text-justify: inter-word;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    img:hover {
        transform: scale(1.6);
    }    

    .bolinhaAzul {
        left: 10vw;
    }
    
    .bolinhaVerde {
        left: 10vw;
    }
    
    .bolinhaAmarela {
        left: 10vw;
    }

    .bolinhaVermelha {
        left: 10vw;
    }
}

@media only screen and (max-width: 980px) {
    .setad {
        right: 210px;
    }
    
    .setae {
        left: 210px;
    }
}

@media only screen and (max-width: 540px) {
    .setad {
        right: 90px;
    }
    
    .setae {
        left: 90px;
    }
    
    #ulotan li {
        padding: 3px 7px
    }

    #ulopep li {
        padding: 3px 7px
    }

    #ulocde li {
        padding: 3px 7px
    }

    #ulperguntas li {
        padding: 3px 7px
    }
}

#questions {
    display: none;
    background-color: #ffe6e6;
    display: block;
    overflow: auto;
    padding: 0 0 40px 0;
}

.bolinhaVermelha {
    position: absolute;
    top: 5vh;
    left: 8vw;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #db7b7b;
}

table {
    margin: 4vh 15vw 10vh 15vw;
}

table tr td {
    padding: 2px 3px;
}

button {
    font-family: inherit;
    padding: 4px 12px;
    margin: 0 auto;
    text-align: center;
    display: block;
    background-color: #db7b7b;
    border: 1px solid black;
}

.ptable {
    font-family: inherit;
    margin: 0 30px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 14px;
    text-indent: 0;
}

.center {
    text-align: center;
    text-indent: 0;
}

.romanos  {
    font-family: inherit;
    margin: 0.7em 15vw;
    text-align: justify;
    text-justify: inter-word;
    font-size: 14px;
    text-indent: 60px;
}

#ulotan {
    background-color: #7b98db;
    height: 4vh;
    list-style: none;
    margin: 0;
}

#ulotan li {
    color: #e6edff;
    display: inline-block;
    padding: 3px 15px
}

#ulopep {
    background-color: #83db7b;
    height: 4vh;
    list-style: none;
    margin: 0;
}

#ulopep li {
    color: #e9ffe6;
    display: inline-block;
    padding: 3px 15px
}

#ulocde {
    background-color: #dbd57b;
    height: 4vh;
    list-style: none;
    margin: 0;
}

#ulocde li {
    color: #ffffe6;
    display: inline-block;
    padding: 3px 15px
}

#ulperguntas {
    background-color: #db7b7b;
    height: 4vh;
    list-style: none;
    margin: 0;
}

#ulperguntas li {
    color: #ffe6e6;
    display: inline-block;
    padding: 3px 15px
}

#ulotan li:hover {
    color: #e6edff;
    display: inline-block;
    padding: 3px 15px;
    cursor: pointer;
}

#ulopep li:hover {
    color: #e9ffe6;
    display: inline-block;
    padding: 3px 15px;
    cursor: pointer;
}

#ulocde li:hover {
    color: #ffffe6;
    display: inline-block;
    padding: 3px 15px;
    cursor: pointer;
}

#ulperguntas li:hover {
    color: #ffe6e6;
    display: inline-block;
    padding: 3px 15px;
    cursor: pointer;
}
