* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', sans-serif;
}

header {
    padding: 2vh;
    background-color: #7b98db;
    height: 16vh;
}

header h1, header h2 {
    color: #e6edff;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    padding: 3vh;
}

#otan {
    background-color: #e6edff;
    display: block;
    overflow: auto;
    padding: 0 0 40px 0;
}

img {
    display: block;
    width: 50vw;
    margin: 0 auto 5vh auto;
    transition: 0.5s;
}

img:hover {
    transform: scale(1.23);
}

#linha {
    position: fixed;
    left: 5vw;
    top: 0;
    width: 12px;
    height: 100%;
    background-color: #7b98db;
}

.fit_content {
    position: relative;
}

.bolinhaAzul {
    position: absolute;
    top: 5vh;
    left: 8vw;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #7b98db;
}

.bolinhaVerde {
    position: absolute;
    top: 5vh;
    left: 8vw;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #83db7b;
}

.bolinhaAmarela {
    position: absolute;
    top: 5vh;
    left: 8vw;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #dbd57b;
}

p {
    margin: 0.7em 15vw;
    text-align: justify;
    text-justify: inter-word;
    font-size: 14px;
    text-indent: 30px;
}

.lastp {
    margin: 0.7em 15vw 2em 15vw;
}

#opep {
    display: none;
    background-color: #e9ffe6;
    display: block;
    overflow: auto;
    padding: 0 0 40px 0;
}

.setad {
    position: absolute;
    top: 19vh;
    right: 420px;
    height: 20px;
    width: 20px;
}

.setae:hover{
    transform: scale(1.3, 1.3);
}

.setae {
    transform: scaleX(-1);
    position: absolute;
    top: 19vh;
    left: 420px;
    height: 20px;
    width: 20px;
}

.setae:hover{
    transform: scale(-1.3, 1.3);
}

#ocde {
    display: none;
    background-color: #ffffe6;
    display: block;
    overflow: auto;
    padding: 0 0 40px 0;
}

ul {
    margin: 0.7em 20vw;
    text-align: justify;
    text-justify: inter-word;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    img:hover {
        transform: scale(1.6);
    }    

    .bolinhaAzul {
        left: 10vw;
    }
    
    .bolinhaVerde {
        left: 10vw;
    }
    
    .bolinhaAmarela {
        left: 10vw;
    }
}

@media only screen and (max-width: 980px) {
    .setad {
        right: 210px;
    }
    
    .setae {
        left: 210px;
    }
}

@media only screen and (max-width: 540px) {
    .setad {
        right: 90px;
    }
    
    .setae {
        left: 90px;
    }
}
